<h1>Create a new contact</h1>
<form action="/contacts" method="post">
  <label for="name">Enter a contact name</label><br/>
  <input type="text" name="name"><br/>
  <label for="phone">Enter a phone number</label><br/>
  <input type="text" name="phone"><br/>
  <button>Submit</button>
</form>