<form action = "/tasks/<%=@task.id%>" method = 'post'>
	<input type="hidden" name="_method" value="put">
	<input type = "text" name = "todo" value = "<%=@task.todo%>">
	<input type = "text" name = "description" value = "<%=@task.description%>">
	<input type= "date" name = "due" value = "<%=@task.due%>">
 	<button>Save Task</button>
</form>