<h1>New Task</h1>
<form action="/tasks" method="post">
  <input type="text" name="todo" placeholder = "Todo:" autofocus>
</br>
  <input type="text" name="details" placeholder = "Details">
</br>
  <input type="date" name="due" placeholder = "Due">
</br>
  <p>Person Assigned:
    <select name="contact">
    <%= @contacts.each do |contact| %>
      <option value="<%= contact.id %>"><%= contact.name %></option>
    <% end %>
    </select>
  </p>
  <input id="status_done" type="radio" name="status" value="true"><label for="status_completed">Completed</label>
</br>
  <input id="status_in_progress" type="radio" name="status" value="false"><label for "status_progress">In Progress</label>
</br>
</br>
  <button>Get to it!</button>
</form>
