<h1>Task</h1>
<form action="/tasks" method="post">
  <input type="text" name="todo" autofocus>
  <input type="text" name="details">
  <input type="date" name="due">

  <input id="status_done" type="radio" name="status" value="true"><label for="status_completed">Completed</label>
  <input id="status_in_progress" type="radio" name="status" value="false"><label for "status_progress">In Progress</label>
  <button>Add</button>
</form>
