<h1>Oh hey...</h1>
<h4>This is awkward. I didn't think anyone would come to this page.</h4>
<p>
  Would you mind going to the <%= link_to("tasks", tasks_path) %> page?
</p>
<p>
  You can look at tasks that need to be completed and the <br>people who need to complete them over there
</p>
<p>
  <small>but you can totally come back here <br>when I have something to show off...</small>
</p>
