<form action = "/contacts/<%=@contact.id%>" method = 'post'>
	<input type="hidden" name="_method" value="put">
	<input type="text"name="name"value="<%=@contact.name%>">
	<input type="text"name="email"value="<%=@contact.email%>">
	<input type="text"name="phone"value="<%=@contact.phone%>">
 	<button>Save Contact</button>
</form>