<h2> Contacts: </h2>
<% if @contacts %>
	<ul>
		<%@contacts.each do |contact|%>
			<li><a href = "<%=contact.id%>"><%=contact.name%></a></li>
		<%end%>
	</ul>
<%else%>
	<h3> No Contacts! Try Adding Some</h3>
<%end%>