<h2>Add a Contact</h2>
<form action="/contacts"method="post">
	<input type="text" name="name" placeholder="name">
	<input type="text" name="email"placeholder="email">
	<input type="text" name="phone"placeholder="phone">
	<button>Add this contact</button>
</form>