<h1>Add contact</h1>

<form action='/contacts' method='post'>
  <ul>
    <li>
      First name: <input type='text' name='first_name'>
    </li>
    <li>
      Last name: <input type='text' name='last_name'>
    </li>
    <li>
      Title: <input type='text' name='title'>
    </li>
    <li>
      Phone: <input type='text' name='phone'>
    </li>
  </ul>
  <button>Add!</button>
</form>