<h1>Add a New Worker!</h1>

<form action="/contacts" method="POST">
  <input type="text" name="name" size="50px" placeholder="Enter name here" autofocus><br/>
  <input type="text" name="title" size="50px" placeholder="Enter title here"><br/>
  <button>Add This Person</button>
</form>