<h1>Hello, <%= @contact.name %></h1>

<a href="/contacts/<%= @contact.id %>/edit">Edit Contact</a>

<form action="/contacts/<%= @contact.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button>Delete Contact</button>
</form>