<h1>Add a new contact here</h1>
<form action="/contacts" method="post">
  Contact name: <br /><input type="text" name="name" autofocus />  <br />
  Pick a task: <br />

 <select name="task_id">
  <% @tasks.each do |task| %>
        <option value="<%= task.id %>"><%= task.name %></option>
  <% end %>
  </select>
  <button>Add New Contact</button>
</form>
