<!DOCTYPE html>
<html>
<head>
  <title>RailsTodo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <a href="/">To-Do List</a>
  <a href="/todos/new">Add to-do</a>
  <a href="/contacts">Contacts</a>
  <a href="/contacts/new">Add contact</a>
  <a href="/about">About</a>
  <a href="/contact">Contact</a>

  <%= yield %>

</body>
</html>
