<!DOCTYPE html>
<html>
<head>
  <title>RailsTodo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- please forgive my center tag guys... please -->
<center>
  <%= yield %>

</br>
<a href="/">Home</a>
 |
<a href="/tasks">Tasks</a>
 |
<a href="/tasks#new">New Task</a>
</center>
</body>
</html>
